html, body {
    height: 100%;
    width: 100%;
    background: #fff;
    font-family: "Microsoft YaHei", sans-serif;
}

.fw500 {
    font-weight: 500
}

.fw600 {
    font-weight: 500
}

.FF9000 {
    color: #ff9000
}

.font-color-999 {
    color: #999999
}

.font-red {
    color: #ff7d78
}

.font-green {
    color: #60b666
}

.fs30 {
    font-size: 15px
}

[data-dpr="2"] .fs30 {
    font-size: 30px
}

[data-dpr="3"] .fs30 {
    font-size: 45px
}

.fs32 {
    font-size: 16px
}

[data-dpr="2"] .fs32 {
    font-size: 32px
}

[data-dpr="3"] .fs32 {
    font-size: 48px
}

.fs22 {
    font-size: 13px
}

[data-dpr="2"] .fs22 {
    font-size: 22px
}

[data-dpr="3"] .fs22 {
    font-size: 33px
}

.fs36 {
    font-size: 18px
}

[data-dpr="2"] .fs36 {
    font-size: 36px
}

[data-dpr="3"] .fs36 {
    font-size: 54px
}

.fs28 {
    font-size: 14px
}

[data-dpr="2"] .fs28 {
    font-size: 28px
}

[data-dpr="3"] .fs28 {
    font-size: 42px
}

.fs26 {
    font-size: 13px
}

[data-dpr="2"] .fs26 {
    font-size: 26px
}

[data-dpr="3"] .fs26 {
    font-size: 39px
}

.Dsn {
    display: none
}

.font-skyblue {
    color: #82D2FD
}

.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.modal-wrap .modal-shade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 66666;
    position: absolute
}

.modal-wrap .windows {
    position: absolute;
    top: 30%;
    z-index: 88888;
    width: 67%;
    left: 16.5%;
    min-height: 3.2rem;
    background: #fff;
    border-radius: .13333rem
}

.modal-wrap .windows h1 {
    position: relative;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #ffffff;
    background: #ff9000;
    font-size: 15px;
    border-top-left-radius: .13333rem;
    border-top-right-radius: .13333rem
}

[data-dpr="2"] .modal-wrap .windows h1 {
    font-size: 30px
}

[data-dpr="3"] .modal-wrap .windows h1 {
    font-size: 45px
}

.modal-wrap .windows h1 span:last-child {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0 5%
}

.modal-wrap .windows .tips {
    min-height: 2.4rem;
    display: flex;
    color: #60b666;
    font-size: 18px;
    justify-content: center;
    align-items: center
}

[data-dpr="2"] .modal-wrap .windows .tips {
    font-size: 36px
}

[data-dpr="3"] .modal-wrap .windows .tips {
    font-size: 54px
}

.index-container {
    height: 100%
}

.index-container .header {
    padding: 0 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc
}

.index-container .header .header-inner {
    height: 1.2rem;
    font-size: 15px;
    padding: 0rem .93333rem;
    display: flex;
    align-items: center;
    background: url("../image/personal.png") no-repeat center left;
    background-size: .74667rem .74667rem
}

[data-dpr="2"] .index-container .header .header-inner {
    font-size: 30px
}

[data-dpr="3"] .index-container .header .header-inner {
    font-size: 45px
}

.index-container #Bill-list-header .header-inner {
    background: url("../image/back.png") no-repeat center left;
    background-size: .2rem .38667rem;
    display: flex;
    justify-content: center;
    font-size: 18px;
    box-sizing: border-box
}

[data-dpr="2"] .index-container #Bill-list-header .header-inner {
    font-size: 36px
}

[data-dpr="3"] .index-container #Bill-list-header .header-inner {
    font-size: 54px
}

.index-container #Bill-list-header + .main .main-inner {
    height: 4rem;
    padding: 0 5%;
    padding-top: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.33rem
}

.index-container #Bill-list-header + .main .main-inner ul {
    border-bottom: 1px solid #ccc
}

.index-container #Bill-list-header + .main .main-inner ul li {
    padding-bottom: .26667rem;
    display: flex;
    justify-content: space-between
}

.index-container #Bill-list-header + .main .main-inner ul li:not(:first-child) {
    width: 55%
}

.index-container #Bill-list-header + .main .main-inner p {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.index-container #Bill-list-header + .main .main-inner p span {
    height: 1rem;
    line-height: 1rem
}

.index-container #Setting-the-bill-header .header-inner {
    display: flex;
    justify-content: space-between
}

.index-container #Setting-the-bill-header + .main .week {
    padding: .44rem 0rem 0rem .66667rem;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 1.86667rem
}

[data-dpr="2"] .index-container #Setting-the-bill-header + .main .week {
    font-size: 28px
}

[data-dpr="3"] .index-container #Setting-the-bill-header + .main .week {
    font-size: 42px
}

.index-container #Setting-the-bill-header + .main .week p {
    width: 90%;
    display: flex;
    justify-content: space-between
}

.index-container #Setting-the-bill-header + .main .week p:first-child {
    padding-bottom: .26667rem
}

.index-container #Setting-the-bill-header + .main .bar-eee {
    background: #eee;
    height: .13333rem
}

.index-container #Setting-the-bill-header + .main .sum {
    padding: 0 5%;
    font-size: 14px
}

[data-dpr="2"] .index-container #Setting-the-bill-header + .main .sum {
    font-size: 28px
}

[data-dpr="3"] .index-container #Setting-the-bill-header + .main .sum {
    font-size: 42px
}

.index-container #Setting-the-bill-header + .main .sum p {
    height: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc
}

.index-container #Setting-the-bill-header + .main .sum ul {
    display: flex;
    justify-content: space-between;
    padding: 0 3%
}

.index-container #Setting-the-bill-header + .main .sum ul li div {
    height: 1.4rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center
}

.index-container #Setting-the-bill-header + .main .sum ul li div > span:first-child {
    padding-bottom: .26667rem
}

.index-container #Setting-the-bill-header + .main .Pending-settlement {
    padding: .4rem .66667rem 0rem;
    font-size: 15px
}

[data-dpr="2"] .index-container #Setting-the-bill-header + .main .Pending-settlement {
    font-size: 30px
}

[data-dpr="3"] .index-container #Setting-the-bill-header + .main .Pending-settlement {
    font-size: 45px
}

.index-container #Setting-the-bill-header + .main .Pending-settlement ul li {
    padding-bottom: .26667rem
}

.index-container #Setting-the-bill-header + .main .Pending-settlement p {
    font-size: 12px;
    text-align: right;
    height: .53333rem
}

[data-dpr="2"] .index-container #Setting-the-bill-header + .main .Pending-settlement p {
    font-size: 24px
}

[data-dpr="3"] .index-container #Setting-the-bill-header + .main .Pending-settlement p {
    font-size: 36px
}

.index-container #Setting-the-bill-header + .main .scroll-box .menu {
    padding: 0 3%
}

.index-container #Setting-the-bill-header + .main .scroll-box .menu ul {
    display: flex;
    justify-content: space-between;
    height: 1.17333rem;
    font-size: 16px;
    align-items: center;
    border-bottom: 1px solid #ccc
}

[data-dpr="2"] .index-container #Setting-the-bill-header + .main .scroll-box .menu ul {
    font-size: 32px
}

[data-dpr="3"] .index-container #Setting-the-bill-header + .main .scroll-box .menu ul {
    font-size: 48px
}

.index-container #Setting-the-bill-header + .main .scroll-box .menu ul li {
    height: 100%;
    display: flex;
    align-items: center
}

.index-container #Setting-the-bill-header + .main .scroll-box .menu ul li > span {
    padding: .13333rem;
    border-bottom: 5px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.index-container #Setting-the-bill-header + .main .scroll-box .menu ul li > span.active {
    font-weight: 600;
    border-bottom-color: #ff9000
}

.index-container #Setting-the-bill-header + .main .scroll-box .menu ol {
    box-sizing: border-box;
    padding: 20px 0 0;
    color: #333333;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 5.5rem;
}

.index-container #Setting-the-bill-header + .main .scroll-box .menu ol li {
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    padding: 2%
}

[data-dpr="2"] .index-container #Setting-the-bill-header + .main .scroll-box .menu ol li {
    font-size: 26px
}

[data-dpr="3"] .index-container #Setting-the-bill-header + .main .scroll-box .menu ol li {
    font-size: 39px
}

.index-container #Setting-the-bill-header + .main .scroll-box .menu ol li p {
    display: flex;
    justify-content: space-between;
    padding-bottom: .26667rem
}

.index-container #Setting-the-bill-header + .main .scroll-box .menu ol li > p:first-child {
    font-size: 15px
}

[data-dpr="2"] .index-container #Setting-the-bill-header + .main .scroll-box .menu ol li > p:first-child {
    font-size: 30px
}

[data-dpr="3"] .index-container #Setting-the-bill-header + .main .scroll-box .menu ol li > p:first-child {
    font-size: 45px
}

.index-container #Setting-the-bill-header + .main .scroll-box .menu ol li > p:nth-child(3) {
    padding-bottom: .13333rem
}

.index-container #Setting-the-bill-header + .main .scroll-box .menu ol::-webkit-scrollbar {
    display: none
}

.index-container #Setting-the-bill-header + .main .tabs {
    padding: 0 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    color: #999999
}

.index-container #Setting-the-bill-header + .main .tabs ul {
    padding: 0 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 1.2rem;
    align-items: center
}

.index-container #Setting-the-bill-header + .main .tabs ul li {
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center
}

[data-dpr="2"] .index-container #Setting-the-bill-header + .main .tabs ul li {
    font-size: 32px
}

[data-dpr="3"] .index-container #Setting-the-bill-header + .main .tabs ul li {
    font-size: 48px
}

.index-container #Setting-the-bill-header + .main .tabs ul li span {
    display: inline-block;
    padding: .13333rem .06667rem;
    border-bottom: 3px solid transparent
}

.index-container #Setting-the-bill-header + .main .tabs ul li span.active {
    color: #333;
    border-bottom-color: #ff9000
}

.index-container #Setting-the-bill-header + .main .detail-scroll-box ol {
    padding: 0 5% 0 3%;
    box-sizing: border-box
}

.index-container #Setting-the-bill-header + .main .detail-scroll-box ol li {
    font-size: 13px;
    height: 2.4rem;
    border-bottom: 1px solid #eee;
    padding: 10px 0 0;
}

[data-dpr="2"] .index-container #Setting-the-bill-header + .main .detail-scroll-box ol li {
    font-size: 26px
}

[data-dpr="3"] .index-container #Setting-the-bill-header + .main .detail-scroll-box ol li {
    font-size: 39px
}

.index-container #Setting-the-bill-header + .main .detail-scroll-box ol li p {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between
}

.index-container #Setting-the-bill-header + .main .detail-scroll-box ol li p:nth-child(3) {
    padding-bottom: 10px
}

.index-container #Setting-the-bill-header + .main .detail-scroll-box ol li p:first-child {
    font-size: 15px
}

[data-dpr="2"] .index-container #Setting-the-bill-header + .main .detail-scroll-box ol li p:first-child {
    font-size: 30px
}

[data-dpr="3"] .index-container #Setting-the-bill-header + .main .detail-scroll-box ol li p:first-child {
    font-size: 45px
}

.index-container .main {
    height: calc(100% - 2.6rem);
/ / box-shadow: 0 - 4 px 4 px 0 #efefef inset
}

.index-container .main .main-inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dadada;
}

.index-container .main .main-inner .section {
    width: 73%;
    display: flex;
    height: 3.86667rem;
    flex-flow: column wrap
}

.index-container .main .main-inner input, .index-container .main .main-inner .btn-query {
    height: 1.06667rem;
    border-radius: .13333rem
}

.index-container .main .main-inner input {
    font-size: 15px;
    background: #eee;
    color: #999999;
    text-align: center;
    margin: .66667rem 0rem .53333rem
}

[data-dpr="2"] .index-container .main .main-inner input {
    font-size: 30px
}

[data-dpr="3"] .index-container .main .main-inner input {
    font-size: 45px
}

.index-container .main .main-inner .btn-query {
    font-size: 18px;
    color: #fff;
    background: #FF9000
}

[data-dpr="2"] .index-container .main .main-inner .btn-query {
    font-size: 36px
}

[data-dpr="3"] .index-container .main .main-inner .btn-query {
    font-size: 54px
}

.index-container .main .article {
    padding: .53333rem 0rem 0rem 1.53333rem
}

.index-container .main .article ul.code li {
    padding-bottom: .4rem;
    font-size: 14px
}

[data-dpr="2"] .index-container .main .article ul.detail li {
    font-size: 28px
}

[data-dpr="3"] .index-container .main .article ul.detail li {
    font-size: 42px
}

.index-container .main .article ul.detail li > span:nth-child(2) {
    font-weight: 500
}

.index-container .main .btn {
    width: 100%;
    padding: .4rem
}

.index-container .main .btn span {
    text-decoration: underline
}

.index-container .main .User-info-not-exist {
    text-align: center
}

.index-container .main .User-info-not-exist p {
    padding: 1.46667rem 0rem 2.8rem;
    font-size: 15px
}

[data-dpr="2"] .index-container .main .User-info-not-exist p {
    font-size: 30px
}

[data-dpr="3"] .index-container .main .User-info-not-exist p {
    font-size: 45px
}

.index-container .main .User-info-not-exist img {
    width: 6.94667rem;
    height: 2.86667rem
}

@media (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .index-container .main .btn {
        width: 100%;
        padding-top: 0rem
    }
}

.index-container .main .carousel {
    width: 100%;
    height: 4.8rem;
    position: relative
}

.index-container .main .carousel .swiper-container .swiper-slide img {
    width: 10rem;
    min-height: 4.8rem;
    overflow: hidden
}

.index-container .main .carousel .mask {
    width: 100%;
    position: absolute;
    height: 1.8rem;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
    z-index: 10;
    bottom: 0;
    left: 0;
    color: #ffffff
}

.index-container .main .carousel .mask h1, .index-container .main .carousel .mask p {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box
}

.index-container .main .carousel .mask h1 {
    margin: .66667rem 0rem .26667rem
}

.index-container .main .ticket {
    border-bottom: 20px solid #eee
}

.index-container .main .ticket ul {
    padding: 0 3%;
    box-sizing: border-box
}

.index-container .main .ticket ul li {
    color: #333333;
    font-size: 13px;
    padding: 3% 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;

}

[data-dpr="2"] .index-container .main .ticket ul li {
    font-size: 26px
}

[data-dpr="3"] .index-container .main .ticket ul li {
    font-size: 39px
}

.index-container .main .ticket ul li:last-child {
    border-bottom: 0
}

.index-container .main .ticket ul li p {
    display: flex;
    justify-content: space-between
}

.index-container .main .ticket ul li p:first-child {
    padding-bottom: .26667rem
}

.index-container .main .ticket ul li p:first-child span:nth-child(1) {
    font-size: 15px;
    /*font-weight: 600*/
}

[data-dpr="2"] .index-container .main .ticket ul li p:first-child span:nth-child(1) {
    font-size: 30px
}

[data-dpr="3"] .index-container .main .ticket ul li p:first-child span:nth-child(1) {
    font-size: 45px
}

.index-container .main .ticket ul li p:nth-child(2) span:nth-child(1) {
    color: #999999
}

.index-container .footer .footer-inner {
    height: 1.33333rem;
    border-top: 1px solid #ccc;
    padding: 0rem .16rem 0rem .29333rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.index-container .footer .footer-inner div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem .8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    align-items: center
}

.index-container .footer .footer-inner div span {
    font-size: 11px;
    padding-top: 5px
}

[data-dpr="2"] .index-container .footer .footer-inner div span {
    font-size: 22px
}

[data-dpr="3"] .index-container .footer .footer-inner div span {
    font-size: 33px
}

.index-container .footer .footer-inner div:first-child i img {
    width: .64rem;
    height: .66667rem
}

.index-container .footer .footer-inner div:nth-child(2) i img {
    width: .58667rem;
    height: .58667rem
}

.index-container .footer .footer-inner div:nth-child(3) i img {
    width: .58667rem;
    height: .68rem
}

.index-container .footer .footer-inner div:nth-child(4) i img {
    width: .68rem;
    height: .72rem
}

.Scenic-PWD-container .header {
    padding: 0 5%
}

.Scenic-PWD-container .header .header-inner {
    padding: 0 5%;
    height: 1.2rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../image/back.png") no-repeat center left;
    background-size: .2rem .38667rem
}

[data-dpr="2"] .Scenic-PWD-container .header .header-inner {
    font-size: 36px
}

[data-dpr="3"] .Scenic-PWD-container .header .header-inner {
    font-size: 54px
}

.Scenic-PWD-container .main .main-box {
    padding: 80px 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.Scenic-PWD-container .main .main-box p:first-child {
    font-size: 14px
}

[data-dpr="2"] .Scenic-PWD-container .main .main-box p:first-child {
    font-size: 28px
}

[data-dpr="3"] .Scenic-PWD-container .main .main-box p:first-child {
    font-size: 42px
}

.Scenic-PWD-container .main .main-box p:nth-child(2) {
    font-size: 13px;
    color: #999999;
    padding: 30px 0
}

[data-dpr="2"] .Scenic-PWD-container .main .main-box p:nth-child(2) {
    font-size: 26px
}

[data-dpr="3"] .Scenic-PWD-container .main .main-box p:nth-child(2) {
    font-size: 39px
}

.Scenic-PWD-container .main .main-box div {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.Scenic-PWD-container .main .main-box div input {
    height: 1.06667rem;
    width: 4.6rem;
    border: 1px solid #ccc;
    border-radius: .13333rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}

.Scenic-PWD-container .main .main-box div .btnForCode {
    width: 3.2rem;
    background: #D6D6D6;
    height: 1.06667rem;
    border-radius: .13333rem;
    color: #ffffff;
    font-size: 14px
}

[data-dpr="2"] .Scenic-PWD-container .main .main-box div .btnForCode {
    font-size: 28px
}

[data-dpr="3"] .Scenic-PWD-container .main .main-box div .btnForCode {
    font-size: 42px
}

.Scenic-PWD-container .main .main-box-pwd {
    padding-top: .53333rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center
}

.Scenic-PWD-container .main .main-box-pwd input {
    font-size: 15px;
    background: #EBEBEB;
    width: 73.33%;
    height: 1.06667rem;
    margin-bottom: 30px;
    padding-left: .46667rem;
    border-radius: .13333rem
}

[data-dpr="2"] .Scenic-PWD-container .main .main-box-pwd input {
    font-size: 30px
}

[data-dpr="3"] .Scenic-PWD-container .main .main-box-pwd input {
    font-size: 45px
}

.Scenic-PWD-container .main .balloon-wrap {
    display: flex;
    justify-content: center;
    height: 3.01333rem;
    width: 100%;
    padding-top: 2.93333rem
}

.Scenic-PWD-container .main .balloon-wrap .balloon {
    width: 6.52rem;
    height: 100%;
    position: relative
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 20px)
    }
    100% {
        -webkit-transform: translate(0, 0)
    }
}

.Scenic-PWD-container .main .balloon-wrap .balloon .air-balloon {
    animation: move 2s infinite;
    position: absolute;
    top: 0;
    left: 2.2rem
}

.Scenic-PWD-container .main .balloon-wrap .balloon .air-balloon > img {
    width: 1.93333rem;
    height: 2.48rem
}

.Scenic-PWD-container .main .balloon-wrap .balloon .cloud-1 {
    animation: move 2s infinite;
    position: absolute;
    left: 3px;
    top: .96rem
}

.Scenic-PWD-container .main .balloon-wrap .balloon .cloud-1 img {
    width: 1.66667rem;
    height: .64rem
}

.Scenic-PWD-container .main .balloon-wrap .balloon .cloud-2 {
    animation: move 3s infinite;
    right: 3px;
    top: .66667rem;
    position: absolute
}

.Scenic-PWD-container .main .balloon-wrap .balloon .cloud-2 img {
    width: .92rem;
    height: .48rem
}

.Scenic-PWD-container .main .balloon-wrap .balloon .cloud-3 {
    animation: move 4s infinite;
    bottom: 3px;
    left: 3.6rem;
    position: absolute
}

.Scenic-PWD-container .main .balloon-wrap .balloon .cloud-3 img {
    width: 1.89333rem;
    height: .96rem
}

.Scenic-PWD-container .footer {
    display: flex;
    justify-content: center
}

.Scenic-PWD-container .footer .btnToChangePWD {
    background: #ff9000;
    color: #ffffff;
    font-size: 18px;
    height: 1.06667rem;
    width: 73.33%;
    border-radius: .13333rem
}

[data-dpr="2"] .Scenic-PWD-container .footer .btnToChangePWD {
    font-size: 36px
}

[data-dpr="3"] .Scenic-PWD-container .footer .btnToChangePWD {
    font-size: 54px
}
